* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#slider {
    display:grid;
    text-align: center;
}
#slider img {
    width: 100%;
}
#bann {
    display: none;
}
@media (min-width: 650px) {
    #bann {
        display: flex;
        border: solid 2px black;
    }
}
    
.hd1 {
    text-align: center;
    background-color: rgb(238, 238, 238);
    border: solid 2px black;
}
.hd1:hover {
    background-color: rgb(198, 197, 197);
}
#form {   
    display: grid;
    width: auto;
    background-color: aliceblue;
 }
 @media (min-width: 650px) { 
 #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: 1fr;
    gap: 5px;
}
 }
 .mesa {
    display: inline-block;
    text-align: center;
    gap: 15px;
 }
.pie {
    background-color:  rgb(238, 238, 238);
    color: black;
    border: 2px solid black;
}
.dir {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.redes {
    display:flex;
}